body,html{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010101;
}

#container img{
    width: 75px;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.square {
    background:#769656;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

section {
    color: white;
    width: 50%;
    height: 100%;
}